<h2>Edit Tree</h2>

<form action="/family_trees/<%=@tree.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Edit here:</label>

  <input type="textarea" name="name" id="family_tree[name]" value="<%=@tree.name%>"> 
  <br/>

    <input type="submit" value='submit'/>
</form>

<h3><a href="/family_trees">All Trees</a></h3>
<h3><a href="/users/logout">Log Out</a></h3>
