<h3>Begin your Pedigree</h3>
<form action="/family_trees" method="POST">

  <label>Name:</label>
  <input type="text" name="name" placeholder="name">

  <br/>
  <input type="submit" value='submit'/>
</form>
<p><a href="/family_trees">All Trees</a></p>
