<h1>Create an individual!</h1>
<form action="/family_trees/<%=@tree.id%>/individuals" method="POST">
  <h2>Family Tree: <%=@tree.name%></h2>
  <h3>Individual</h3>
  Individual's Name: <input type="text" id="individual_name" name="individual_name"/><br>
  <input type="submit" value="submit"/>
</form>