<h1>Welcome <%= current_user.username%>!</h1>

<p>Your Family <%  %> </p>

<p><a href="/family_trees">See all trees!</a></p>

<p><a href="/family_trees/new">Create a tree!</a></p>

<p><a href="/users/logout">Log Out</a></p>
