<h2>Welcome <%= current_user.username%>!</h2>
<% current_user.family_trees.each do |tree|%>
<h4>Family Tree: <a href="/family_trees/<%=tree.id%>"><%=tree.name%></a></h4>
<%end%>

<p>Account created on: <%=current_user.created_at%></p>

<p><a href="/family_trees">See all trees!</a></p>

<p><a href="/family_trees/new">Create a tree!</a></p>

<p><a href="/users/logout">Log Out</a></p>
