<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!--
     Bing Crosby

  "The old crooner himself:"
       QB"   .  . ....^FBQQBQBQ
       #^   ..../,, ,/yyBQBDBt`"B
     B"  ._L_yQ&Qy&&QQBQQDlL;S; (Q
    B^   /DQQQBQQQQQQBQBDQQD1:   "B
   Q~   ,GQBDQDQQQQQQBBQQDQ&EC    7B
   D    lQQQQQBQBQQQQQQQQBBID('    {
   E   .iDDBQQBQQQQBBBQBQQDQ1!:    (
   3   .(BQBBQBBQQQQBBQBBBDBS'     }                     I'm
   Q   '~~<MMBQQBBQBP"""<BD1EL.    Q                   dreaming
   Q    LuL `7QBBB?../LL;.!JDL     Q                    of a
  "  ,  ,__&L.DBBEEL1L_,'EylEE!  ,U                     white
  1 :s&yyQQQ6-DQBBQ&QQQQQQQQJY!  lyB1Q                Christmas.
  S  ?DDQQBD'.QQBDQDBQBQQQDD1<  LIQDG
  Q   j8BQE2 LQQBE9EBBEBQQES{! /BQSE
   Q_ 'TS7L  <#P~^,G1?TXC3({!  3PEy
    Q, ,_>'.,___yBD1DU;,'('''  yQ
     L "Qy,  'IIIZl',L/&;!;:  LQ
     Q; FD(  (`IE2L/QDB&lY!   6Q
      Q, (/. `!?"21iQDU&/~   L FB
       Q_ (EL/&&QDBQBDJ"   ,y^  `FB
        Qy 75EEBBQESf`   _yB^      "M
        Q7  `'^""~`   _yQQM'         `"FQ
        F;         _yQQQQF              Q
  -->
  <script type="text/javascript" src="js/index.js"
  <link rel=”stylesheet” type=”text/css” href=”css/style.css” />

  </head>
  <body>
    <title>Pedigree</title>
    <h1>Pedigree</h1>
    <%= yield %>
    <h4>Pajama Productions</h4>
  </body>

</html>
